footer {
    background: #ededed;
    color: #212121;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: -149vh;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links a {
    color: #ff5733;
    text-decoration: none;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}