.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ababab30;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 123;
    backdrop-filter: blur(8px);
    text-transform: uppercase;
}

.navbar .logo {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #212121;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff5733;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: #212121;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #61616145;
        backdrop-filter: blur(8px);
        text-align: center;
        z-index: 9;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
}

